.btn {
    display: block;
    width: 20rem;
    height: 5rem;
    background-color: white !important;
    color: rgb(13, 175, 81) !important;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: .8rem; 
}
.formSec h2{
    text-align: center;
    color: rgb(224, 245, 224);
} 
.formSec{
    display: flex;
    margin: 20rem auto;
    height: 50%;
    width:50%;
    border-radius: 15%;
    background-color: #18c918;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.option-text {
  
    color: white;
    text-align: center; }
    .option-text__link {
    color: #18c918;
    text-decoration: underline; }

.signIn {
    margin-top: 60%; 
    height: 50% ;
}

.signUp {
    height:100%;
    margin-top: 40%; 
}

@media screen and (min-width: 37.5em) {
    .signIn {
        margin-top: 40vh; 
    } 
}

.code {
    text-align: center;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
    outline: none;
    border: 2px solid #18c918;
    transition: .5s; 
}
    
.code:focus {
    outline: 2px solid #18c918;
    outline-offset: 3px; 
}

.input-error {
    border-color: #e63946;
  }

  .error {
    color: #e63946;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba(#1d3557, 0.8);
  }