.signUp {
    height: 5%;
    margin-top: 1% !important; 
}

@media screen and (min-width: 25em) {
    .signUp {
        margin-top: 15vh; 
    } 
}

.signUp > * {
    margin: 0 auto;
    width: 80%; 
}

.signUp > * > * {
        width: 100%; 
}

.signUp div {
    position: relative; 
}

.signUp div input {
    display: block;
    outline: none;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border: none;
    position: relative;
    height: 5rem;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.7rem;
    transition: all 500ms; 
}
    
.signUp div input:focus {
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.405);
    border: 1px solid #18c918; 
}

.signUp div label {
    display: block;
    color: white;
    transform: translateY(4rem);
    transition: all 500ms; 
}

.signUp div input::placeholder-shown > label {
    transform: translateY(0rem);
    display: none; 
}

.btn {
    display: block;
    width: 20rem;
    height: 5rem;
    background-color: #18c918;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    border: none;
    border-radius: .8rem; }

.option-text {
    margin-top: 2rem;
    text-align: center; }
.option-text__link {
    color: #18c918;
    text-decoration: underline; 
}
    
.code {
    text-align: center;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
    outline: none;
    border: 2px solid #18c918;
    transition: .5s; 
}

.code:focus {
    outline: 2px solid #18c918;
    outline-offset: 3px; }

.input-error {
    border-color: #e63946;
}

.error {
    color: #e63946;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.disabled-btn {
    cursor: not-allowed;
    background: rgba(#1d3557, 0.8);
}