.chat__component {
  border: 1px solid red;
  height: 100%;
  /* justify-content: space-between; */
}
.chat__bodyDiv {
  height: 70%;
}
.chat__inputDiv {
  height: 30%;
}
.chat__container {
  /* height: 70%; */
  width: 100%;
  margin: 0 auto;
  border-radius: 1px solid green;
}
.chat__body {
  width: 90vw;
}
.chat__form {
  margin-top: -20px;
  height: 30%;
}
.theirmessage {
  background-color: white;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 13px;
  width: fit-content;
  position: relative;
  height: auto;
  padding: 15px;
  font-size: 15px;
}
.timestamp {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 10px;
}
.nameStamp {
  position: absolute;
  top: -13px;
  left: 1px;
  font-size: 10px;
}
.loading__icon {
  position: absolute;
  bottom: 1px;
  left: 1px;
  font-size: 10px;
}
.mymessage {
  background-color: lightgreen;
  margin-left: auto;
  border-radius: 10px;
  margin-bottom: 13px;
  width: fit-content;
  position: relative;
  padding: 15px;
  font-size: 15px;
  display: flex;
  height: auto;
}

.mymessage > .user__image__circle {
  /* position: absolute;
  left: 3px;
  top: 6px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid darkblue;
  margin-right: 5px;
}

.overlay__viewpic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2px);
  z-index: 9999;
}
.modal {
  background-color: lightgray;
  color: gray;
  padding: 10px 20px;
  height: auto;
  width: 250px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 9999;
}
.close__icon {
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2px);
  z-index: 9999;
}
.post__modal {
  background-color: black;
  color: gray;
  padding: 10px 20px;
  height: 100vh;
  width: 100vw;
  padding: 100px auto;
  /* height: 60vh; */
  position: fixed;
  display: flex;
  flex-direction: column;

  /* transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  z-index: 9999;
}

.button__upload {
  position: relative;
  background: red;
}
.button__progress {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 50%;
  background: rgba(0, 0, 0, 0.2px);
  transition: width 0.3s;
}
.button__text {
  position: relative;
}
